/* Common styles */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: $main-white-color;
}

.link {
  text-decoration: none;
  color: inherit;
  transition: color 250ms $main-time-func;
}

.link-hover:hover,
.link-hover:focus {
  color: $accent-blue-color;
}

.list {
  list-style: none;
  font-style: normal;
}

%button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 50px;
  width: 200px;

  margin: 0;

  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.8;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: $accent-blue-color;
  cursor: pointer;

  color: $main-white-color;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.current {
  color: $accent-blue-color;
}
